  <!DOCTYPE html>
  <html>
  <head>
    <title>Fundr Africa</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>

    <header class="navbar navbar-fixed-top bs-docs-nav" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="index.php" class="navbar-brand">Fundr Africa</a>
        </div>

        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
          <ul class="nav navbar-nav">
            <li><a href="discover.php">Discover</a></li>
            <li><a href="create.php">Create</a></li>
            <li><a href="learn.php">Learn</a></li> 
          </ul>
          <!-- <ul class="nav navbar-nav pull-right">
            <li><a href="signup.php">Sign Up</a></li>
            <li  class="log"><a href="login.php">Log-in</a></li> 
          </ul> -->
        </nav>
      </div>
    </header> 

    <div class="spliter"></div>
    <div class="container"></div>
    <div class="container"> 
        <?php 
		    @require ('api_conf.php');
		    $co = new MPower_Onsite_Invoice();

		    if($co->charge($_POST["opr_token"],$_POST["confirmation_code"])) {
		      echo $co->response_text;
		      echo "<br/> Reciept Link <a href=\"".$co->getReceiptUrl()."\">Download</a>";
		    }
		    else{
		      echo($co->response_text);
		    }
		    ?>
		    <br/>
		    <br/>
		    <a href="discover.php" title="">Discover More Projects</a>
 		
    </div>
    
               
<div class="spliter"></div>




<footer>
  <div class="foot">
    <div class="container">
      <ul class="list-unstyled list-inline pull-left">
        <li>Fundr Africa </li>
        <li>Copyright &copy; 2013 </li>
      </ul>
      <ul class="list-unstyled list-inline pull-right">
        <li>Developers</li>
        <li>Contact</li>
        <li>Terms</li>
        <li>Privacy</li>
      </ul>
    </div>
  </div>
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/pager.js"></script>
<script type="text/javascript"> 
/*activates the selected tab on the load event */
$(function () {
  $('#myTab a:first').tab('show')
})
</script>
</body>
</html>