<!DOCTYPE html>
<html>
<head>
  <title>Fundr Africa</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/font-awesome.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
</head>
<body>

  <header class="navbar navbar-fixed-top bs-docs-nav" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand">Fundr Africa</a>
      </div>
      <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
        <ul class="nav navbar-nav">
          <li><a href="discover.php">Discover</a></li>
          <li><a href="create.php">Create</a></li>
          <li><a href="learn.php">Learn</a></li> 
        </ul>
        <ul class="nav navbar-nav pull-right">
          <li><a href="signup.php">Sign Up</a></li>
          <li class="log"><a href="login.php">Log-in</a></li>

        </ul>
      </nav>
    </div>
  </header>

 <div id ="slider" class ="carousel">    
   <ol class="carousel-indicators">
    <li data-target="#slider" data-slide-to="0" class="active"></li>
    <li data-target="#slider" data-slide-to="1"></li>
    <li data-target="#slider" data-slide-to="2"></li>
   </ol> 
 <div id ="sliderinner" class="carousel-inner center">

    <div class="item active branding1">
      <div class="container sliding"> 
          <div class="col-xs-4">            
            <div class="call-action">
              <h2>Funding : When you need it.</h2> 
              <ul class="banner-list">
                <li>Share ideas</li>
                <li>Build Relationships</li>
                <li>Source for crowd-funding</li>
              </ul> 
            </div>                        
            <a href="discover.php">
              <span class="btn btn-lg btn-block btn-primary btn-text-size">Discover an Idea</span>
            </a>
          </div>
          <div class="col-sm-4"></div>
          <div class="col-sm-4"></div>
      </div>
    </div> 

    <div class="item branding2">
     <div class="container sliding"> 
        <div class="col-xs-4 ">
          <div class="call-action">
              <h2>Funding : For a difference.</h2> 
              <ul class="banner-list">
                <li>Build projects</li>
                <li>Bring real change</li>
                <li>Source for crowd-funding</li>
              </ul> 
          </div> 
          <a href="create.php">
            <span class="btn btn-lg btn-block btn-primary btn-text-size">Create a Project</span>
          </a>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4 "></div> 
    </div>
  </div>

  <div class="item branding3">
    <div class="container sliding"> 
        <div class="col-xs-4">
          <div class="call-action">
            <h2>Funding : When you need it.</h2> 
            <ul class="banner-list">
              <li>Share ideas</li>
              <li>Build Relationships</li>
              <li>Source for crowd-funding</li>
            </ul> 
          </div>
          <a href="learn.php">
            <span class="btn btn-lg btn-block btn-primary btn-text-size">Learn More</span>
          </a>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
        </div> 
    </div>
  </div>
  
 </div>
 </div>

 <div class="container">
    <div class="tagline col-lg-10">
      <h2 class="three-p">Our Pitch</h2>
      <h4>Fundr Africa is focused on supporting Originality of thought, Innovation and Excellence by opening up brilliant ideas to crowd-funding. We're focused on bringing crowd-based investor funding to the best of ideas through the collaborative efforts of people such as yourself. Together we're changing the landscape of business, technology and social innovation, by the continued aggregation of transformational ideas.</h4> 
    </div>
    <div class="tagline-icon col-lg-2">
      <i class="icon-rocket icon-4x"></i>
    </div>
 </div>

 <hr>

 <div class="container">
  <h2 class="three-p">Our Process</h2>
    <div class="message col-lg-4 text-center"> 
        <a href=""><i class="icon-bolt icon-4x"></i></a>
        <h2>Ideate</h2>
        <h4>Do you want to build solutions but have challenges? It can be done.</h4> 
        <a href="#" class="btn btn-primary">Find out more</a>
    </div>  
    <div class="message col-lg-4 text-center"> 
        <a href=""><i class="icon-screenshot icon-4x"></i></a>
        <h2>Create</h2>
        <h4>Develop your idea. Open it up to Africa. It couldn't have been easier.</h4> 
        <a href="#" class="btn btn-primary">Find out more</a>
    </div> 
    <div class="message col-lg-4 text-center"> 
        <a href=""><i class="icon-group icon-4x"></i></a>
        <h2>Initiate</h2>
        <h4>Crowd-source for funds on our platform using our widespread access.</h4> 
        <a href="#" class="btn btn-primary">Find out more</a>
    </div> 
 </div>

 <hr>

 <div class="container">
    <div class="tagline col-lg-12">
      <h2 class="three-p">Our Partners</h2>
       <ul class="partners list-unstyled list-inline text-center">
        <li><img src="img/partners/mpower.png" height="" width="170"></li>
        <li><img src="img/partners/dev-congress.png" height="91" width="300"></li>
        <li><img src="img/partners/smsgh.png" height="" width="200"></li>
        <li><!-- <i class="icon-stackexchange icon-4x"></i> --></li>
        <li><!-- <i class="icon-android icon-4x"></i> --></li>
        <li><!-- <i class="icon-linux icon-4x"></i> --></li>
       </ul>
    </div>
 </div>

 <footer>
  <div class="foot">
    <div class="container">
      <ul class="list-unstyled list-inline pull-left">
        <li>Fundr Africa </li>
        <li>Copyright &copy; 2013 </li>
      </ul>
      <ul class="list-unstyled list-inline pull-right">
        <li>Developers</li>
        <li>Contact</li>
        <li>Terms</li>
        <li>Privacy</li>
      </ul>
    </div>
  </div>
</footer>

<script src="js/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap.js"></script>
<script type="text/javascript"> 
$(document).ready(function(){
  $('.carousel').carousel({
   interval:5000
 })

});

</script>
</body>
</html>