<!DOCTYPE html>
<html>
<head>
    <title>Fundr Africa</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>

  <header class="navbar navbar-fixed-top bs-docs-nav" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="index.php" class="navbar-brand">Fundr Africa</a>
      </div>

      <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
        <ul class="nav navbar-nav">
          <li><a href="discover.php">Discover</a></li>
          <li><a href="create.php">Create</a></li>
          <li><a href="learn.php">Learn</a></li> 
        </ul>
        <ul class="nav navbar-nav pull-right">
          <li><a href="signup.php">Sign Up</a></li>
          <li  class="log"><a href="login.php">Log-in</a></li> 
        </ul>
      </nav>
    </div>
  </header>



    <!-- Carousel
    ================================================== -->
    <div class="container create"> 
        
        <div class="row">
           <h2>Fundr Africa</h2> 
           <div class="col-md-8">
            <h4>We are Africa's leading crowd-funding platform focused on social projects. Using our platform, people can raise funds to support causes which we both care about. We believe that it doesn't take much to make a difference, because with little drops of water we can build a mighty ocean.</h4> 
           </div>
           <div class="col-md-4">
            <img src="img/fundr.png" alt="Fundr Africa" class="img-responsive" height="150" width="150">
           </div>
        </div>

        <hr>

        <div class="row">
          <h2>Values we share</h2> 
          <div class="col-md-2">
           <img src="img/share.png" alt="Values" class="img-responsive" height="150" width="150">
          </div>
           <div class="col-md-10"> 
             <h4>Our core values lies in <strong>Generosity</strong>, <strong>Passion</strong> and <strong>Excellence</strong>. Each of these go into each and every single project which we back here on Fundr Africa, and that's why we do continue to recieve the support of various persons across the continent</h4>
           </div> 
        </div>

        <hr>

        <div class="row">
          <h2>Difference that you can make</h2>
          <div class="col-md-8"> 
            <h4>As part of our donors here at Fundr Africa, you will be a part of making a big difference. Our donors get the opportunity of not only supporting projects during the funding period but also being part of the execution phase of each and every single project</h4>
          </div>
          <div class="col-md-4">
           <img src="img/share.png" alt="Difference"  class="img-responsive" height="150" width="150">
          </div>
        </div>

    </div> 
    <div class="spliter"></div>
  <footer>
    <div class="foot">
    <div class="container">
      <ul class="list-unstyled list-inline pull-left">
        <li>Fundr Africa </li>
        <li>Copyright &copy; 2013 </li>
      </ul>
      <ul class="list-unstyled list-inline pull-right">
        <li>Developers</li>
        <li>Contact</li>
        <li>Terms</li>
        <li>Privacy</li>
      </ul>
    </div>
  </div>    
  </footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap.js"></script>


</body>
</html>