<!DOCTYPE html>
<html>
<head>
  <title>Fundr Africa</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/font-awesome.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
</head>
<body>

  <header class="navbar navbar-fixed-top bs-docs-nav" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="index.php" class="navbar-brand">Fundr Africa</a>
      </div>

      <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
        <ul class="nav navbar-nav">
          <li><a href="discover.php">Discover</a></li>
          <li><a href="create.php">Create</a></li>
          <li><a href="learn.php">Learn</a></li> 
        </ul>
        <ul class="nav navbar-nav pull-right">
          <li><a href="signup.php">Sign Up</a></li>
          <li  class="log"><a href="login.php">Log-in</a></li> 
        </ul>
      </nav>
    </div>
  </header>

  <div class="spliter"></div>

  <div class="container">  
    <div class="col-lg-4 pull-right">
      <h2 class="text-center">Register for Fundr Africa</h2>
      <div class="account-wall"> 
        <form class="form-signin">
          <input type="text" class="form-control" placeholder="Username" required> 
          <input type="text" class="form-control" placeholder="Email" required>
          <input type="password" class="form-control" placeholder="Password" required>
          <input type="password" class="form-control" placeholder="Password Again" required>  
          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
          <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
        </form>
      </div>
      <a href="login.php" class="text-center new-account">Already have an account? </a>
    </div>  
    
    <div class="banner-pad"></div> 
    <div class="col-lg-8 pull-left text-center">
      <div class="col-lg-4">
        <a href="register.php"><i class="icon-user icon-3x"></i></a>
        <h2>Register</h2>
        <h4>Sign up for Fundr Africa. Open up to opportunities.</h4> 
      </div>
      <div class="col-lg-4">
       <a href="login.php"><i class="icon-signin icon-3x"></i></a>
       <h2>Login</h2>
       <h4>Create a project and start sourcing for funds.</h4> 
     </div>
     <div class="col-lg-4">
      <a href="create.php"><i class="icon-shield icon-3x"></i></a>
      <h2>Create Project</h2>
      <h4>Crowd-source for funds on our platform. </h4> 
    </div>
  </div>
</div> 


<footer>
  <div class="foot">
    <div class="container">
      <ul class="list-unstyled list-inline pull-left">
        <li>Fundr Africa </li>
        <li>Copyright &copy; 2013 </li>
      </ul>
      <ul class="list-unstyled list-inline pull-right">
        <li>Developers</li>
        <li>Contact</li>
        <li>Terms</li>
        <li>Privacy</li>
      </ul>
    </div>
  </div>    
</footer>
</body>
</html>